@import url('https://fonts.cdnfonts.com/css/laviossa');

* {
    font-family: Laviossa;
    font-size: 1rem;
}

body {
    perspective: 500px;
    background-color: rgb(179, 213, 246);
    margin: 0;
    margin-top: 2em;
    text-align: center;
/*    display: flex;*/
    min-height: 100vh;
    align-items: top;
    justify-content: center;
    background-color: #bfdfec;
    font-family: system-ui, calibri, serif;
    background-repeat: repeat-x;
    background-image: url("https://i.stack.imgur.com/b7z29.png");
    animation: movement 10s linear infinite;
}

h2 {
    text-align: center;
    padding: 16px;
    margin: 0;
}

.pop-outin {
    animation: 4s anim-popoutin ease infinite;
}

@keyframes anim-popoutin {
    0% {
        color: rgb(93, 120, 239);
        transform: scale(0);
        opacity: 0;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    25% {
        color: rgb(23, 34, 104);
        transform: scale(2);
        opacity: 1;
        text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
    }

    50% {
        color: rgb(93, 120, 239);
        transform: scale(1);
        opacity: 1;
        text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        color: rgb(93, 120, 239);
        transform: scale(1);
        opacity: 1;
        text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
}



@keyframes movement {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: 560px 0px;
    }
}



.placeholder {
    display: inline-block;
    width: 1000px;
    height: 600px;
    box-sizing: border-box;
    margin-top: 80px;
    position: relative;
}

.column,
.blind,
.blindImg {
    position: absolute;
    top: 0;
    height: 100%;
    box-sizing: border-box;
}

.blind {
    overflow: hidden;
}

.blindImg {
    width: 100%;
    background-size: cover;
}

.button {
    position: absolute;
    width: 10%;
    height: auto;
    margin-top: 52%;
    margin-left: -40%;
  }
  