@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 100;
}

body{
  background: rgba(255, 232, 104, 0.67);
  font-family: Arial;
  margin-top: -7%;
}

svg {
    display: block;
    font: 6em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 3px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #fd4931;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

  #snow {
    background: none;
    background-image: url("../images/banana.png"),
      url("../images/banana1.png"),
      url("../images/banana2.png");
    height: 100%;
    left: 0;
    position: absolute;
    top: 25%;
    width: 100%;
    z-index: 1;
    animation: snow 1000s linear infinite;
    transform: translate(0, 0);
  }
  @keyframes snow {
    0% {
      background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
      background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
    }
  }

.findme {
  margin: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
    z-index: 100000;
}

.tile > img {
  width: 100%;
  height: auto;
}

.tile {
/*  background-color: #999;*/
  margin: 20px;
}

/*
p, h5 {
  padding: 30px;
}

.tile:nth-child(4) {
  padding: 50px;
  background-color: blue;
}

.tile:nth-child(3n) {
  background-color: yellow;
}

.tile:has(p) {
  background-color: red;
}

p:not(#anomaly) {
  color: white;
  font-weight: bold;
}
*/

*:has(img:hover) > .tile:not(.tile:hover) {
/*  background-color: green;*/
  filter: blur(4px);
}