.minionfrida {
  position: absolute;
  width: 25%;
  height: auto;
  margin-left: 40%;
  margin-top: 8%;
  z-index: 100%;
}

#banana{
    background: none;
    background-image: url("../images/banana.png"),
      url("../images/banana1.png"),
      url("../images/banana2.png");
    height: 100%;
    left: 0;
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 1;
    animation: snow 1000s linear infinite;
    transform: translate(0, 0);
  }
  @keyframes snow {
    0% {
      background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
      background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
    }
  }

  #blinkingtext{
    position:absolute;
    top: 3%;
    left:40%;
    color: #e7692f;
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .blink_text {
   animation-name: blinker;
   animation-duration: 3s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
  }
  
  @keyframes blinker {  
   0% { opacity: 1.0; }
   50% { opacity: 0.0; }
   100% { opacity: 1.0; }
  }
  
  .button {
    width: 10%;
    height: auto;
    margin-top: 55%;
    margin-left: 45%;
  }
  